.home{
    margin-top: -92px;
    .hero{
        height: 500px;
        background-image:url(hero-image.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
    .callout{
        
    }
}
